.user h3 {
    font-size: 18px;
    color: #e93939;
}
.user {
    width: calc(33% - 38px);
    background-color: #fff;
    margin: 20px 19px 50px;
    position: relative;
    padding: 0 10px 10px;
    box-sizing: border-box;
    text-align: center;
}
.user img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -40px;
}
.delete-btn {
    text-align: left;
}
.delete-btn button {
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #007fa3;
    cursor: pointer;
}